<div class="row">
  <div class="section">

    <h1>Rake Task Log</h1>

    <hr />

    <div id="log_content" class="overflow-y: scroll" data-content-url="<%= @rake_task_log_content_url %>">
      <%= @rake_task_log_content.html_safe %>
    </div>
  </div>
</div>
